body{
    margin: 0;
    padding: 0;
    background-color: rgb(250, 166, 173);
    font-family: 'Special Elite', cursive;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style:none;
    background-color: rgb(250, 166, 173);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 15%;
    z-index: 1000;
    box-shadow: 0 5px 10px 1px rgb(43, 42, 42);
    border-radius: 3%;
}
nav li{
    display: inline-block;
    margin-left: 15%;
    padding: 35px;
    position: relative;  
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}
nav a:hover{
    background-color: rgb(255, 136, 0);
}
#home{
    background-image: url('https://wallpapercave.com/wp/wp2381200.jpg');
    background-size: cover;
    background-position: center;
    height: 701px;
}
.text{
    text-align: center;
    padding-top: 25%;
    font-size: 25px;
    color: rgb(250, 166, 173);
    -webkit-text-stroke: 2px black;

}
#contact{
    text-align: center; 
    letter-spacing: 3px;
}
#contact h1{
    -webkit-text-stroke: 1px rgb(255, 136, 0);
    color:black; 
}
.rs{
    color:rgb(255, 136, 0); 
    -webkit-text-stroke: 0.5px black;
}
.form-control {
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 8px 3px black;    
  }
  #totalCost{
    background-color: rgb(255, 136, 0);
    /* position: absolute; */
    /* left: 30%;  */
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 5%;
    width: 20%;
  }
  #delivery{
    background-color: rgb(255, 136, 0);
    border-radius: 10%; 
    margin-top: 5%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 20%;
  }
  #textPrice{
    box-sizing: border-box;
    padding:30px;
    border: 1px solid #ff8000;
    border-radius: 20px;
    box-shadow: 2px 2px 8px 3px black;
    font-size: 25px;
    color: white;    
  }
@media screen and (max-width:450px){
    nav li{
        padding: 20px;
        margin-left: 0;
    }
    .text{
        position: absolute;
        top: 30%;
    }
    nav ul{
        height: 10%;
    }

    nav a{
        font-size: 15px;
    }
@media screen and (max-width:1024px){
    nav li{
        padding: 20px;
        margin-left: 0;
    }
    .text{
        position: absolute;
        top: 30%;
    }
    nav ul{
        height: 10%;
    }
    
    nav a{
        font-size: 15px;
}


  
  


